@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Nunito:wght@400;700&display=swap');

// Some CSS borrowed from eleventy-base-blog

// Set colours
$darkblue: #094067;
$offgrey: #5f6c7b;
$lightblue: #3da9fc;
$lighterblue: #90b4ce;
$red: #ef4565;

// Update Bulma's global variables
$primary: $lightblue;
$info: $lighterblue;
$link: $red;
$grey: $offgrey;
$dark: $darkblue;


// Set font
$family-secondary: "Alegreya", "Palatino Linotype", "Book Antiqua", Palatino, serif;
$family-sans-serif: "Nunito", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/* Custom Card Hover effect */
.card:hover {
  -webkit-transform: scale(1) translateY(-2px);
  -ms-transform: scale(1) translateY(-2px);
  transform: scale(1) translateY(-2px);
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.15);
}

.card-title {
    align-items: center;
}

main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed #90b4ce75;
}
#footer-nav {
  background-color: #fafafa;
}
footer {
  border-top: 1px dashed #90b4ce75;
}
footer p {
  padding: 0.5rem 0.75rem;
}

#hero-twitter {
  margin-left: 0.5rem;
}

.breadcrumb li {
  align-self: center;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


@import "../node_modules/bulma/bulma";