<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or safeTitle or title }}
      |
      {{ metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/styles.css' }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      <nav class="navbar is-light is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand container">
          <a href="{{ '/' | url }}"><img alt="UsefulWeb.dev logo" src="/img/logo.png" class="navbar-item" width="240"></a>
        </div>
      </nav>
    </header>

    <main class="container">

      {{ content | safe }}

    </main>

    <footer class="footer">
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <nav class="navbar is-spaced" id="footer-nav" role="navigation" aria-label="main navigation">
        <ul class="navbar-menu container">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="navbar-item{% if entry.url == page.url %} nav-item-active{% endif %}">
              <a  href="{{ entry.url | url }}"><button class="button is-link is-light">{{ entry.title }}</button></a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
      <div>
          <p class="container">
            <em><small>This is an
              <a href="https://www.11ty.io/">Eleventy project</a>
              created from the
              <a href="https://github.com/11ty/eleventy-base-blog">
                <code>eleventy-base-blog</code></a>
                repo.</small></em>
          </p>
        </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>