<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or safeTitle or title }}
      |
      {{ metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    {# <link rel="stylesheet" href="{{ '/css/index.css' | url }}"> #}
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/styles.css' }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <script src="https://kit.fontawesome.com/63bc0d330b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
    <nav class="navbar is-spaced">
      <div class="container">
        <div class="navbar-start">
          {% if page.url != '/' %}
          <div class="navbar-item">
            <a href="{{ '/' | url }}"><button class="button is-info is-light is-medium">⬅ Home</button></a>
          </div>
          {% endif %}
          <div class="navbar-item">
            <h1 class="title is-family-secondary">
            UsefulWeb.dev
            </h1>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item buttons field is-grouped">
          <p class="control">
            <a href="https://github.com/zgparsons/usefulwebdev" target="_blank">
              <button class="button is-info is-light is-small">
                <span class="icon">
                 <i class="fab fa-github"></i>
                </span>
                <span>Code on GitHub</span>
              </button>
            </a>
          </p>
          <p class="control">
            <a href="https://twitter.com/originalzedders" target="_blank">
            <button class="button is-info is-light is-small">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span>@originalzedders</span>
            </button>
            </a>
          </p>
          </div>
        </div>
      </div>
    </nav>
      {# <nav class="navbar is-spaced">
        <div class="navbar-brand container">
          <a href="{{ '/' | url }}"><img alt="UsefulWeb.dev logo" src="/img/logo.png" class="navbar-item" width="240"></a>
        </div>
      </nav> #}
    </header>


      {{ content | safe }}


    <footer class="footer">
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <nav class="is-spaced" id="footer-nav" role="navigation" aria-label="main navigation">
        <div class="container buttons field is-grouped">
          {%- for entry in collections.all | eleventyNavigation %}
            <p class="control">
              <a  href="{{ entry.url | url }}"><button class="button is-link is-light">{{ entry.title }}</button></a>
            </p>
          {%- endfor %}
        </div>
      </nav>
      <hr>
      <div class="container">
        <div class="buttons field is-grouped">
        <p class="control">
          <a href="https://github.com/zgparsons/usefulwebdev" target="_blank">
          <button class="button is-info is-light is-outlined is-small">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Code on GitHub</span>
          </button>
          </a>
          </p>
          <p class="control">
          <a href="https://twitter.com/originalzedders" target="_blank">
          <button class="button is-info is-light is-outlined is-small">
            <span class="icon">
              <i class="fab fa-twitter"></i>
            </span>
            <span>@originalzedders</span>
          </button>
          </a>
          </p>
        </div>
      </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>