---
layout: layouts/base.njk
templateClass: tmpl-home
title: Home
---

<section class="hero is-light">
    <div class="container hero-body">
        <div class="container">
            <h2 class="title">
            DevSites...
            </h2>
            <h2 class="subtitle">
            Noteworthy resources for Web Devs
            </h2>
            
            
        </div>
    </div>
</section>

<main class="container">

{{ content | safe }}

</main>