---
layout: layouts/base.njk
templateClass: tmpl-home
title: Home
---

<section class="hero is-light">
    <div class="container hero-body">
        <div class="container">
            <h2 class="title is-family-secondary">
            UsefulWeb.dev is...
            </h2>
            <h2 class="subtitle is-family-secondary">
            Noteworthy resources for Web Devs
            </h2>
            <div class="level">
            <p class="level-left is-family-secondary">
            ...updated by 
            <a href="https://twitter.com/@originalzedders" target="_blank">
            <button class="button is-primary is-light is-outlined" id="hero-twitter">
            <span class="icon">
              <i class="fab fa-twitter"></i>
            </span>
            <span>@originalzedders</span>
            </button></a>
            </p>
            </div>
        </div>
    </div>
</section>

<main class="container">

{{ content | safe }}

</main>